body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.list {
  padding: 0 15px;

  .list-item {
    border: 1px solid lightgray;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    transition-duration: 0.8s;
  
    .list-item-point {
      text-align: center;
      padding: 5px;
      border-radius: 5px;
      
      div {
        padding: 10px;
        background-color: rgb(243, 242, 241);
        transition-duration: 0.8s;

        span {
          display: block;
        }
        :nth-child(1) {
          font-size: 2.2em;
          line-height: normal;
        }
        :nth-child(2) {
          font-size: 0.6em;
        }
      }
    }
    
    .list-item-content {
      span {
        display: block;
      }
      :nth-child(1) {
        font-weight: bold;
        font-size: 1.3em;
      }
      :nth-child(2) {
        color: gray;
      }
    }
  
    .list-item-button {
      text-align: right;
  
      .btn-group {
        width: 100%;
        button {
          width: 50%;
        }
      }

      .list-item-remove-button {
        position: absolute;
        z-index: 2;
        right: -20px;
        top: -40px;
        opacity: 0;
        visibility: hidden;
        transition: opacity 600ms, visibility 600ms;
        width: 40px;
        height: 40px;
        border-radius: 30px;
      }
    }

    &:hover {
      background-color: rgb(243, 242, 241);

      .list-item-point div{
        background-color:rgb(214, 213, 212);
      }
      .list-item-button .list-item-remove-button {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

.menu {
  margin-bottom: 30px;

  .dropleft {
    float: right;
  }
}

